<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Mujeres Artistas Docentes{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('bundles/madexperience/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
            <link href="{{ asset('bundles/madexperience/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" media="screen">
            {% stylesheets  filter='cssrewrite'
            output='css/styles.css'
            "@MADExperienceBundle/Resources/assets/css/fonts.scss"
            "@MADExperienceBundle/Resources/assets/css/vars.scss"
            "@MADExperienceBundle/Resources/assets/css/style.scss"
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
            {% stylesheets '@FOSCommentBundle/Resources/assets/css/comments.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
            {% endstylesheets %}
        {% endblock %}

        {% block extra_stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        {% block extra_javascripts %}{% endblock %}
    </body>
    
</html>
