{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block content %}

    <div class="row">

        <div class="span12">

            <h3>Editar experiencia sobre {{ question.title }}</h3>

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-notice">
                    {{ flashMessage }}
                </div>
            {% endfor %}

        </div>

    </div>

    <div class="row">
        <div class="span12">
            <h4>{{ question.title }}</h4>
            <div class="well well-large">
                {{ question.wording }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <form action="{{ path('mad_experience_edit_experience', {experienceId: experience.id}) }}" method="post" {{ form_enctype(form) }}>
                <div style="margin: 10px 0;">
                    {{ form_label(form.account) }}
                    {{ form_errors(form.account) }}
                    {{ form_widget(form.account) }}
                </div>
                {{ form_rest(form) }}
                <input type="submit" class="btn btn-primary" value="Guardar y compartir con Ross" name="share" />
                <input type="submit" class="btn" value="Guardar y compartir con todas" name="share" />
            </form>
        </div>
    </div>

{% endblock content %}


{% block extra_stylesheets %}
    <link href="{{ asset('bundles/madexperience/vendor/redactor/redactor.css') }}" rel="stylesheet" media="screen">
{% endblock %}

{% block extra_javascripts %}
    <script src="{{ asset('bundles/madexperience/vendor/redactor/redactor.ugly.js') }}"></script>
    <script src="{{ asset('bundles/madexperience/vendor/redactor/plugins/fullscreen.js') }}"></script>
    <script type="text/javascript">
        var buttons = ['bold', 'italic', 'deleted', 'fullscreen', '|', 'unorderedlist', 'orderedlist', 'outdent', 'indent', '|', 'link', 'image'];
        $(document).ready(function() {
            $('#experience_account').redactor({
                focus: true,
                buttons: buttons,
                plugins: ['fullscreen'],
                imageUpload: '{{ url('mad_experience_ajax_upload_image') }}'
            });
        });
    </script>
{% endblock %}