{% extends "MADExperienceBundle::gathering_place_layout.html.twig" %}

{% block title %}Mis Experiencias | Mujeres Artistas Docentes{% endblock %}

{% block content %}

<h1>Mis Experiencias</h1>


<div class="row">
    <div class="span12">
        <h3>Temas sobre las reflexiones</h3>
    </div>
    <div class="span4">
        <ul class="subjects-main-list">
            {% for subject in subjectsList %}
            <li><a href="{{ path('mad_experience_show_questions', { subjectId : subject.id }) }}">{{ subject.title }}</a></li>
            {% else %}
                <p>En breve se publicarán los temas.</p>
            {% endfor %}
        </ul>
    </div>

</div>

<div class="row">
    <div class="span6">
        <h3>Experiencias libres</h3>
    </div>
    <div class="span6">
        <div><a href="{{  path('mad_experience_write_experience') }}">Escribir una experiencia</a></div>
    </div>
    <div class="span12">
        <p>Si te apetece escribir sobre alguna experiencia que no aparece en los temas, puedes hacerlo en este apartado.</p>
        <ul class="investigation-experiences">
            {% for freeExperience in freeExperiences %}
                <li><a href="{{ path('mad_experience_read_experience', {experienceId : freeExperience.id}) }}">{{ freeExperience.account }}</a> en {{ freeExperience.createdAt | date('m/d/Y') }} <a href="{{ path('mad_experience_read_experience', {experienceId : question.experiences.current.id}) }}">Leer</a> | <a href="{{ path('mad_experience_edit_experience', {experienceId : question.experiences.current.id}) }}">Editar</a></li>
            {% else %}
                <li>No has escrito ninguna experiencia. <a href="{{  path('mad_experience_write_experience') }}">¿Quieres escribir alguna?</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}