<p>Hola {{ previousCommentAuthor }},</p>
<p>{{ commentAuthorName }} ha respondido a tu comentario en la experiencia {{ experience.question.title }}. Puedes leer su respuesta <a href="{{ url('mad_experience_read_experience', {experienceId : experience.id}) }}#fos_comment_{{ comment.id }}">aquí</a>.</p>
