<p>Hola {{ experienceAuthorName }},</p>
<p>{{ commentAuthorName }} ha comentado tu experiencia sobre {{ experience.question.title }}. Puedes leer su comentario <a href="{{ url('mad_experience_read_experience', {experienceId : experience.id}) }}#fos_comment_{{ comment.id }}">aquí</a>.</p>
